<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мой план | Kanban</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <script src="../../js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">

        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="profile">Мои задачи</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="calendar">Мой планировщик</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="addtask">Добавить задачу</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form th:action="@{/logout}" method="post">
                    </br>
                    <input type="submit" value="Выйти"/>
                </form>
            </li>

            </li>
        </ul>
    </div>
</nav>
<main>
    <article class="container">
        <header class="row">
            <header class="col-xs-12 col-md-3">
                <figure>

                    <figcaption>
                        <h3 th:text="*{employee.getSurname( ) + ' ' + employee.name}"></h3>
                    </figcaption>
                </figure>
            </header>
            <div class="col-xs-12 col-md-9">
                <h2 style="margin-bottom: 2%;">Мои задачи:</h2>
                <h4>Требуется взять в работу: </h4>
                <div class="progress progress-striped">
                    <!--                        <div class="progress-bar progress-bar-warning" th:style="width:*{tod2o}%">-->
                    <div class="progress-bar progress-bar-warning" th:style="'width:' + ${todo} + '%'">
                        <p th:text="*{todo} + ' %'"></p>
                    </div>
                </div>
                <h4>В процессе выполнения: </h4>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" th:style="'width:' + ${doing} + '%'">
                        <p th:text="*{doing} + ' %'"></p>
                    </div>
                </div>
                <h4>Выполнено: </h4>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" th:style="'width:' + ${done} + '%'">
                        <p th:text="*{done} + ' %'"></p>
                    </div>
                </div>
            </div>
        </header>
    </article>
</main>
<!--            <div class="row">-->
<!--                <div class="flex">-->
<!--&lt;!&ndash;                <div class="textcols-row">&ndash;&gt;-->
<!--                    <div class="item media-body">-->
<!--                        <h3>Требуется взять в работу:</h3>-->
<!--                        <div th:each="todotask: ${todotasks}" class="item">-->

<!--                            <div class="media yellow-note">-->
<!--                                <div class="media-body">-->
<!--                                    <div class="media-body">-->
<!--                                        <strong><p th:text="${todotask.description}" ></p></strong>-->
<!--                                        <form method="post">-->
<!--                                            <input type="hidden" name="idTask" value="${todotask.id}">-->
<!--                                            <button class="btn btn-warning btn-xs">Взять в работу</button>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                    <div class="item media-body" >-->
<!--                        <h3>В процессе выполнения:</h3>-->
<!--                        <div th:each="todotask: ${todotasks}" class="item">-->
<!--                            <div class="media green-note">-->
<!--                                <div class="media-body">-->
<!--                                    <strong>  <p th:text="${todotask.description}" ></p></strong>-->
<!--                                    <form method="post">-->
<!--                                        <input type="hidden" name="idTask" value="${todotask.id}">-->
<!--                                        <button class="btn btn-success btn-xs">Выполнено</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                    </div>-->

<!--                    </div>-->
<!--                    <div class="item  media-body">-->
<!--                        <h3>Выполнено:</h3>-->
<!--                        <div th:each="todotask: ${todotasks}" class="item">-->
<!--                            <div class="media blue-note">-->
<!--                                <div class="media-body">-->
<!--                                        <strong><p th:text="${todotask.description}" ></p></strong>-->
<!--                                        <form method="post">-->
<!--                                            <input type="hidden" name="idTask" value="${todotask.id}">-->
<!--                                            <button class="btn btn-info btn-xs">Удалить</button>-->
<!--                                        </form>-->

<!--                            </div>-->
<!--                            </div>-->
<!--                         </div>-->
<!--                         </div>-->

<!--                </div>-->

<!--            </div>-->

</main>
</body>
</html>
